*{
    padding: 0;
    margin: 0;
    font-family: 'coolvetica', 'sans';
}
 
.backGroundMain{
    z-index: -2;
    background-color: rgb(108, 108, 108);
    background-image: none;
    filter: brightness(70%);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}
 
.backGroundRigth{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 40%;
    background-color: #454444;
    opacity: 50%;
    z-index: -1;
}
 
.main-container {
    display: flex;
    width: 100%;
    height: 100vh;
}
 
.display-container {
    width: 60%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
}
 
.logo{
    position: absolute;
    top: 10px;
    left: 10px;
}
 
.logo img {
    width: 170px;
   
}
 
 
.searchAndInfo-container{
    width: 40%;
}
 
.contentDetails{
    padding: 0 60px;
}
 
.searcher{
    background-color: transparent;
    width: 70%;
    height: 60px;
    padding-top: 25px;
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 26px;
    border-bottom: 3px solid #A1A1A1;
    border-top: none;
    border-left: none;
    border-right: none;
   
}
 
.searcher::placeholder{
    color: #fff;
}
 
.search{
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
    padding-left: 60px;
    display: flex;
    justify-content: space-between;
}
 
.search-button{
   background-color: black;
    border: none;
    height: 110px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
 
.search-button:hover{
    background-color: #737373;
}
 
.lupa{
    color: white;
    font-size: 30px;
 
}
 
#temperatura {
    font-size: 100px;
    color: #fff;
    padding-left: 100px;
    padding-bottom: 80px;
    font-weight: 800;
 
}
 
.gradeC{
    font-size: 100px;
    color: #fff;
    font-weight: 800;
    padding-bottom: 80px;
 
}
 
 
.ContentSearchBar{
    display: flex;
    flex-direction: column;
   
}
#cityList{
    min-height: 200px;
    max-height: 200px;
    overflow: hidden;
}
 
#cityList, .weatherDetails{
    margin-top: 10px;
    height: 200px;
   
 
}
 
#cityName, #cityDate{
    color: #fff;
}
 
.contentInfoWeather{
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.cityDetail{
    margin-left: 20px;
}
 
#ciudad{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}
 
#cityName{
    font-size: 30px;
    font-weight: 800;
}
 
#cityDate{
    font-size: 20px;
    font-weight: 300;
}
 
.spanWeatherDetail{
    width: 100%;
    text-align: end;
    color: white;
    margin-right: 2px;
}
 
.titleWeather{
    color: #fff;
    margin-bottom: 10px;
}
 
#listWeatherDetails{
    color: #fff;
    display: grid;
    grid-template-columns: 180px 175px auto;
    grid-row-gap: 14px;
}
 
#listWeatherDetails li{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}
